# Logistic Regression
- Catagorical predictions
- Binary classification
- email spam or not
- multiclass classification 
- Republican, Democrat, independent





# Logic in the math 
- Sigmoid logit function S(X) = 1/ 1 + E ^ -z converts number to range 0 - 1 
- takes y = mx + b -----> y = 1 / 1 + e -(mx + b) transforms it 



# Logistic Regression use problems 
- Cancer detection — can be used to detect if a patient have cancer (1) or not(0).
- Test score — predict if a student passed(1) or failed(0) a test.
- Marketing — predict if a customer will purchase a product(1) or not(0).

In [124]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

import plotly.express as px

In [73]:
df = pd.read_csv("HR_comma_sep.csv")
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Department', 'salary'],
      dtype='object')

In [89]:
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [139]:
df.left.value_counts()

0    11428
1     3571
Name: left, dtype: int64

In [209]:
dummies = pd.get_dummies(data = df, columns = ["Department", "salary"])
dummies.drop("left", axis = 1)
merged_df = pd.concat([df, dummies], axis = 1)
final = merged_df.drop(["left","Department","Department_marketing", "salary_high", "salary"], axis = 1)

final

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,satisfaction_level,last_evaluation,number_project,...,Department_RandD,Department_accounting,Department_hr,Department_management,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,0,0.38,0.53,2,...,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,0,0.80,0.86,5,...,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,0,0.11,0.88,7,...,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,0,0.72,0.87,5,...,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,0,0.37,0.52,2,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,0.40,0.57,2,...,0,0,0,0,0,0,1,0,1,0
14995,0.37,0.48,2,160,3,0,0,0.37,0.48,2,...,0,0,0,0,0,0,1,0,1,0
14996,0.37,0.53,2,143,3,0,0,0.37,0.53,2,...,0,0,0,0,0,0,1,0,1,0
14997,0.11,0.96,6,280,4,0,0,0.11,0.96,6,...,0,0,0,0,0,0,1,0,1,0
14998,0.37,0.52,2,158,3,0,0,0.37,0.52,2,...,0,0,0,0,0,0,1,0,1,0

In [210]:
# final

In [211]:
X = final
y = df["left"]
X

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,satisfaction_level,last_evaluation,number_project,...,Department_RandD,Department_accounting,Department_hr,Department_management,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,0,0.38,0.53,2,...,0,0,0,0,0,1,0,0,1,0
1,0.80,0.86,5,262,6,0,0,0.80,0.86,5,...,0,0,0,0,0,1,0,0,0,1
2,0.11,0.88,7,272,4,0,0,0.11,0.88,7,...,0,0,0,0,0,1,0,0,0,1
3,0.72,0.87,5,223,5,0,0,0.72,0.87,5,...,0,0,0,0,0,1,0,0,1,0
4,0.37,0.52,2,159,3,0,0,0.37,0.52,2,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,0,0.40,0.57,2,...,0,0,0,0,0,0,1,0,1,0
14995,0.37,0.48,2,160,3,0,0,0.37,0.48,2,...,0,0,0,0,0,0,1,0,1,0
14996,0.37,0.53,2,143,3,0,0,0.37,0.53,2,...,0,0,0,0,0,0,1,0,1,0
14997,0.11,0.96,6,280,4,0,0,0.11,0.96,6,...,0,0,0,0,0,0,1,0,1,0
14998,0.37,0.52,2,158,3,0,0,0.37,0.52,2,...,0,0,0,0,0,0,1,0,1,0

In [212]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=40)

In [213]:
print(X_train.shape)
print(X_test.shape)
print(y_test.shape)
print(y_train.shape)

(11999, 25)
(3000, 25)
(3000,)
(11999,)

In [214]:
model = LogisticRegression(max_iter=100).fit(X_train, y_train)

/Users/jaredpeck/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [215]:
print(model.score(X_train,y_train))
print(model.score(X_test, y_test))

0.8068172347695641
0.8003333333333333

In [216]:
y_prediction =model.predict(X_test)
y_prediction[:100]

array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])